name: Build Code Editor Targets
on:
  workflow_dispatch:
  pull_request:
    
jobs:
  
  handle-failures:
    name: Handle Failures
    runs-on: ubuntu-latest
    environment: build-targets-workflow-env
    permissions:
      id-token: write # Required for OIDC
    env:
      REPOSITORY: ${{ github.repository }}
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
    steps:
      - name: Use role credentials for metrics
        id: aws-creds
        continue-on-error: ${{ env.REPOSITORY != 'aws/code-editor' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900
          aws-region: us-east-1
      - name: Report failure
        if: steps.aws-creds.outcome == 'success'
        run: |
          aws cloudwatch put-metric-data \
            --namespace "GitHub/Workflows" \
            --metric-name "ExecutionsFailed" \
            --dimensions "Repository=$REPOSITORY,Workflow=BuildTargets" \
            --value 1
